html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  font-family: "Inter", sans-serif;
  color: #293264;
}

input,
textarea,
button {
  font-family: inherit;
}

main {
  min-height: 550px;
  width: 550px;
  background-color: #f5f7fb;
  margin: 50px auto;
}

/* Blob Styling */

.blob {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
}

.blob__top__start {
  background-color: #fffad1;
  right: 0;
  transform: translate(30%, -25%);
}

.blob__bottom__start {
  background-color: #dee8f8;
  bottom: 0;
  left: 0;
  transform: translate(-30%, 25%);
}

.blob__top__quiz {
  background-color: #fffad1;
  right: 0;
  transform: translate(50%, -50%);
}

.blob__bottom__quiz {
  background-color: #dee8f8;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}

/* Start Page Section */

.start__container,
.quiz__container {
  position: relative;
  overflow: hidden;
  height: 100%;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start__title {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  margin-top: 218px;
  margin-bottom: 7px;
}

.start__description {
  margin-top: 7px;
  margin-bottom: 29px;
}

.button__start {
  height: 52px;
  width: 193px;
  border-radius: 15px;
  border: none;
  background-color: #4d5b9e;
  color: #f5f7fb;
  font-weight: 500;
  cursor: pointer;
}

/* Quiz Questions Section */

.quiz__container {
  padding: 35px 75px;
  align-items: flex-start;
}

.quiz__section {
  border-bottom: 1px solid #dbdef0;
  margin-bottom: 15px;
  width: 90%;
}

.quiz__question {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 12px;
}

.quiz__answer {
  min-width: 66px;
  min-height: 21px;
  border-radius: 7px;
  font-weight: 500;
  font-size: 0.75rem;
  text-align: center;
  line-height: 12px;
  background-color: #f5f7fb;
  color: #4d5b9e;
  border: 1px solid #4d5b9e;
  margin-right: 13px;
  margin-bottom: 15px;
}

.quiz__answer:last-child {
  margin-right: 0;
}

.quiz__check {
  /* align-self: center; */
  width: 120px;
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: #4d5b9e;
  color: #f5f7fb;
  font-size: 0.75rem;
  font-weight: 600;
}

.selected {
  background-color: #dbdef0;
}

.red {
  background-color: lightcoral;
}

.green {
  background-color: lightgreen;
}

.footer {
  width: 100%;
  justify-content: center;
  display: flex;
  padding: 0 20px;
  column-gap: 25px;
}

.score {
  font-weight: 700;
  font-size: 0.8rem;
}
